p {
  margin-bottom: 0px; }

.container {
  max-width: 1025px !important; }

.bg-common {
  background: #ffffff; }

.header-row {
  border-bottom: 1px solid rgba(65, 68, 77, 0.1);
  background: #fff; }

.verticaly-center {
  margin-top: auto;
  margin-bottom: auto; }

.header-container {
  height: 69px;
  display: flex; }
  .header-container .band-logo,
  .header-container .contact-us {
    display: inline-flex;
    align-items: center;
    width: 50%; }
  .header-container .band-logo {
    justify-content: flex-start; }
  .header-container .contact-us {
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.07px;
    text-align: center; }
    .header-container .contact-us a {
      color: #585b66;
      text-decoration: none; }

.footer-container {
  padding-top: 12px;
  padding-bottom: 14px;
  height: 40px;
  display: flex; }
  .footer-container .copy {
    justify-content: flex-start; }
  .footer-container .contact a {
    display: flex;
    justify-content: flex-end;
    color: #24233a;
    text-decoration: none; }
  .footer-container .copy,
  .footer-container .contact {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #24233a;
    width: 50%; }

.listing .search-container {
  display: flex;
  margin-top: 55px;
  margin-bottom: 55px; }
  .listing .search-container .title,
  .listing .search-container .search-input {
    align-items: center;
    display: inline-flex; }
  .listing .search-container .title {
    letter-spacing: -0.71px;
    font-size: 30px;
    font-weight: 700;
    color: #41444d; }
  .listing .search-container .search-input .input-group-text {
    background: #fff;
    border: 1px solid #dbdee8;
    border-right: 0; }
    .listing .search-container .search-input .input-group-text i {
      color: #9497a2;
      font-size: 12px; }
  .listing .search-container .search-input input {
    background: #fff;
    border: 1px solid #dbdee8;
    border-left: 0;
    font-size: 14px;
    letter-spacing: -0.09px;
    color: #9497a2;
    font-weight: normal;
    padding-left: 0; }

.listing .mendor-listing-container .mentor-card {
  border: 1px solid #dbdee8;
  border-radius: 8px;
  margin-bottom: 32px; }
  .listing .mendor-listing-container .mentor-card .mentor-profile {
    background-color: rgba(233, 235, 241, 0.12);
    padding: 20px 16px 16px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid #dbdee8; }
    .listing .mendor-listing-container .mentor-card .mentor-profile .mentor-img img {
      width: 52px;
      margin-right: 12px; }
    .listing .mendor-listing-container .mentor-card .mentor-profile .mentor-details h3 {
      margin-bottom: 2px;
      font-size: 14px; }
    .listing .mendor-listing-container .mentor-card .mentor-profile .mentor-details p {
      font-size: 12px;
      color: #63656d;
      letter-spacing: -0.09px; }
  .listing .mendor-listing-container .mentor-card .mentor-action {
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px; }
    .listing .mendor-listing-container .mentor-card .mentor-action .action {
      display: inline-flex;
      align-items: center; }
    .listing .mendor-listing-container .mentor-card .mentor-action .left-section {
      width: 20%;
      justify-content: flex-start; }
      .listing .mendor-listing-container .mentor-card .mentor-action .left-section .carousel-indicators {
        position: relative;
        justify-content: left;
        margin: 0; }
        .listing .mendor-listing-container .mentor-card .mentor-action .left-section .carousel-indicators li {
          background-color: #504d4d;
          width: 8px;
          height: 8px;
          border-radius: 50%; }
    .listing .mendor-listing-container .mentor-card .mentor-action .center-section {
      color: #9497a2;
      font-size: 13px;
      width: 50%;
      justify-content: center; }
    .listing .mendor-listing-container .mentor-card .mentor-action .right-section {
      color: #24233a;
      font-size: 14px;
      font-weight: 600;
      width: 30%;
      justify-content: flex-end; }
      .listing .mendor-listing-container .mentor-card .mentor-action .right-section a {
        color: #24233a;
        text-decoration: none; }
        .listing .mendor-listing-container .mentor-card .mentor-action .right-section a i {
          font-size: 10px;
          margin-left: 6.8px; }
  .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .carousel-inner {
    height: 320px; }
  .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark a {
    text-decoration: none;
    color: inherit; }
  .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list {
    display: flex;
    padding: 16px 16px 4px 16px;
    transition: 500ms; }
    .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list:hover {
      background: rgba(204, 204, 204, 0.2); }
    .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list .list-thumbnail {
      margin-right: 12px; }
      .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list .list-thumbnail img {
        width: 16px;
        margin-top: -3px; }
    .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list .list-details h4 {
      margin-bottom: 4px;
      letter-spacing: -0.03px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4; }
    .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list .list-details span.author {
      font-size: 12px;
      color: #63656d;
      display: block; }
      .listing .mendor-listing-container .mentor-card .mentor-bookmark-container .mentor-bookmark .list .list-details span.author i {
        font-size: 9px;
        margin-right: 8px; }

.listing .see-all-cta {
  margin: 5px auto 37px auto;
  padding: 21px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #24233a;
  letter-spacing: -0.09px; }
  .listing .see-all-cta i {
    float: right;
    position: relative;
    top: 6.5px;
    font-size: 11px; }
  .listing .see-all-cta:hover {
    color: #fff; }

/*# sourceMappingURL=listing.css.map */